:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(/assets/images/wave.png);
    background-color: white;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.login-form{
    min-width: 50%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form > * {
    width: 100%;
}

.login-input-container{
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
}

.login-input{
    color: white;
}

.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn{
    width: 100%;
}

.login-banner{
    margin-top: 5%;
}

.login-banner-title{
    font-family: inherit;
    font-weight: 100;
    color: black;
}

@media(max-width: 780px){

    :host{
        background-image: url(/assets/images/wave-bottom.svg);
        background-color: white;
        background-position-y: bottom;
    }

}