:host{
    background-color: black;
    opacity: 0.5;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    z-index: 999;
    position: fixed;
}

.spinner-loader-container{
    max-width: 50%;
    display: flex;
}

.spinner-loader-img{
    max-width: 100%;
}