:host{
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100%;
    background-color: grey;
    background-image: url(../../assets/images/wave-bottom.svg);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}