.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.5fr 2.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title title title"
    "text text text"
    "table table table";
}

.table {
    width: 100%;
    grid-area: title;
    text-align: center;
  }

.text {
  width: 100%;
  grid-area: text;
  text-align: center;
}