:host{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-redirect-container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.user-redirect-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-redirect-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-redirect-image{
    max-width: 50%;
}

.user-redirect-title-container, .user-redirect-image-container, .user-redirect-text-container{
    width: 100%;
}

.user-redirect-title, .user-redirect-image, .user-redirect-text{
    width: 100%;
}

.user-redirect-title, .user-redirect-text{
    color: black;
    margin: 0;
    padding: 2.5%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: Roboto,Helvetica Neue,sans-serif;
}