<div class="user-redirect-container">
    <div class="user-redirect-title-container">
        <h1 class="user-redirect-title">Ecommerce</h1>
    </div>
    <div class="user-redirect-image-container">
        <img class="user-redirect-image" src="../../../../assets/images/hand-shake.svg">
    </div>
    <div class="user-redirect-text-container">
        <p class="user-redirect-text">Welcome back {{userName}}</p>
        <div>
            <button (click)="onClickHome()" class="" mat-fab color="primary" aria-label="Example icon button with a home icon" routerLink="/user">
                🏠
            </button>
        </div>
    </div>
</div>