<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create a new user
        </mat-panel-title>
        <mat-panel-description>
          Use this to register a new client
        </mat-panel-description>
      </mat-expansion-panel-header>
      <add-user></add-user> 
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add role to a user
        </mat-panel-title>
        <mat-panel-description>
          Use this to add a role to a new client
        </mat-panel-description>
      </mat-expansion-panel-header>
      <add-role></add-role> 
    </mat-expansion-panel>
      
  </mat-accordion>
  