:host{
    width:100%;
}

.card {
        overflow: hidden;       
        margin: 1vw;
    }

    .card:hover{
        background-color: red;
    }

    .subtitle {
        text-align: center;
    }

    .grid-container {
        border-radius: 2%;
        opacity: 0.9;
        margin-top: 2.5vh;
        margin-bottom: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1fr 1fr;
        grid-template-areas:
            ". . . ."
    }

    @media(max-width: 768px){

        .grid-container {
            border-radius: 2%;
            opacity: 0.9;
            margin-top: 2.5vh;
            margin-bottom: 5vh;
            margin-left: 5vw;
            margin-right: 5vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1fr 1fr;
            grid-template-areas:
                ". ."
        }
    
    }