<router-outlet></router-outlet>

  <div *ngIf="cardsVisible$ | async">
    <div *ngIf="userCardsVisible$ | async"> 
      <h1 class="subtitle">User</h1>
      <div class="grid-container">
        <card *ngFor="let card of userCards$ | async" 
          [titleText]="card.titleText" 
          [contentText]="card.contentText" 
          [redirectRoute]="card.redirectRoute"
          [buttonText]="card.buttonText"
          >
        </card>
      </div>
    </div>
    
    <div *ngIf="roleCardsVisible$ | async">
      <h1 class="subtitle">Role</h1>
      <div class="grid-container">
        <card *ngFor="let card of roleCards$ | async" 
          [titleText]="card.titleText" 
          [contentText]="card.contentText" 
          [redirectRoute]="card.redirectRoute"
          [buttonText]="card.buttonText"
        >
        </card>
      </div>
    </div>
  </div>
