:host{
    width: 100vw;
    height: 100vh;
}

.unauthorized{
    display: flex;
    align-self: center;
    justify-content: center;
}

.unauthorized-title{
    max-width: 50%;
    color: white;
    text-align: center;
    margin: 0;
    align-self: center;
}