<div *ngIf="!(cardsVisible$ | async)">
  <h1 style="text-align: center;">Update user</h1>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form class="form" [formGroup]="searchUserForm">
        <div class="middle-container">
          <mat-form-field class="firstname">
            <mat-label>First name</mat-label>
            <input (blur)="saveFirstNameSearch($event.target.value)" matInput placeholder="Rodrigo" formControlName="firstNameSearch">
          </mat-form-field>
        </div>
        <div class="middle-container">
          <mat-form-field class="lastname">
            <mat-label>Last name</mat-label>
            <input (blur)="saveLastNameSearch($event.target.value)" matInput placeholder="Ramirez" formControlName="lastNameSearch">
          </mat-form-field>
        </div>
        <div class="middle-container">
          <mat-form-field class="email">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="rramirez.dev@gmail.com" formControlName="emailSearch">
          </mat-form-field>
        </div>
        <div class="middle-container">
          <mat-form-field class="phone-number">
            <mat-label>Phone number</mat-label>
            <input matInput placeholder="11 51277867" formControlName="phoneNumberSearch">
          </mat-form-field>
        </div>
        <div class="button-container">
          <button class="button" mat-raised-button color="primary" (click)="searchUser()">Search</button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <get-user></get-user>
</div>
