.title-container { 
  grid-area: title;
  text-align: center; 
}

.form { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "firstname lastname email phoneNumber"
    "button button button button";
  grid-area: form;
 }

 .firstname {
    grid-area: firstname;
 }

 .lastname {
    grid-area: lastname;
 }

 .email {
  grid-area: email;
}

.phone-number {
  grid-area: phoneNumber;
}

 .button-container { 
   grid-area: button;
   display: flex;
   justify-content: flex-end;
   }

  .button{
    width: 25%;
  }

.text { 
  grid-area: text;
  text-align: justify;  
  overflow: auto;
  overflow: overlay;
}

@media(max-width: 850px){

  .form { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
      "firstname lastname"
      "email phoneNumber"
      "button button";
    grid-area: form;
   }

   .button{
    width: 100%;
  }
}

@media(max-width: 600px){

  .form { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "firstname"
      "lastname"
      "email"
      "phoneNumber"
      "button";
    grid-area: form;
   }

   .button{
    width: 100%;
  }
}