.home{
    flex: 0 0 50%;
    overflow-y: auto;
}

.auth{
    flex: 0 0 50%;
}

.app{
    display: flex;
    height: 100%;
}


@media(max-width: 780px){

    .app{
        display: flex;
        flex-direction: column;
    }

    .home{
        order: 2;
    }

    .auth{
        order: 1;
    }
}