.home{
    flex: 0 0 50%;
    background-color: black; 
    overflow-y: auto;
}

.auth{
    flex: 0 0 50%;
    background-color: black; 
}

@media(max-width: 780px){

    .home{
        order: 2;
    }

    .auth{
        order: 1;
    }
}