:host{
    width: 100vw;
    height: 100vh;
}

.not-found{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.not-found-title{
    max-width: 50%;
    color: white;
    text-align: center;
    margin: 0;
    align-self: center;
}