.full-width-table {
  width: 100%;
}

.table-row:hover{
  cursor: pointer;
  background-color: primary;
  opacity: 0.5;
  color: black;
}

.title{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

@media(max-width: 700px){
  .title{
    text-align: center;
  }
}