
    <form class="add-role-form" [formGroup]="addRoleForm" (ngSubmit)="addRoleForm.valid">
        <mat-form-field appearance="fill" class="add-role-input-container">
          <mat-label>Username/Email</mat-label>
          <input matInput type="text" required class="add-role-input" formControlName="username">
          <div *ngIf="usernameControl.invalid && (usernameControl.dirty || usernameControl.touched)"
            class="alert alert-danger">
            <mat-error *ngIf="usernameControl.errors.required">
              {{usernameRequiredErrorMessage}}
            </mat-error>
            <mat-error *ngIf="usernameControl.errors.maxlength">
              {{usernameMaxLengthErrorMessage}}
            </mat-error>
            <mat-error *ngIf="usernameControl.errors.minlength">
              {{usernameMinLengthErrorMessage}}
            </mat-error>
          </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="add-role-input-container">
            <mat-label>Role</mat-label>
            <input matInput type="text" required class="add-role-input" formControlName="role">
            <div *ngIf="roleControl.invalid && (roleControl.dirty || roleControl.touched)"
              class="alert alert-danger">
              <mat-error *ngIf="roleControl.errors.required">
                {{roleRequiredErrorMessage}}
              </mat-error>
            </div>
          </mat-form-field>
        <div class="btn-container">
          <button mat-raised-button color="primary" class="add-user-btn">Add role</button>
        </div>
      </form>
      <div class="add-role-side-text">
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      </div>
  
    