@import '~@angular/material/theming';
@import '~src/assets/sass/_variables.scss';

@include mat-core();

$ecommerce-admin-web-primary: mat-palette($mat-light-blue);
$ecommerce-admin-web-accent: mat-palette($mat-light-blue, A200, A100, A400);
$ecommerce-admin-web-warn: mat-palette($mat-red);

$ecommerce-admin-web-theme: mat-light-theme((
  color: (
    primary: $ecommerce-admin-web-primary,
    accent: $ecommerce-admin-web-accent,
    warn: $ecommerce-admin-web-warn,
  )
));

@include angular-material-theme($ecommerce-admin-web-theme);

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
}
